<html>
  <head>
    <title>FizzBuzz</title>
  </head>
  <body>
    <h1>FizzBuzz</h1>
    <p>Enter a number to FizzBuzz it</p>
    <form action='/fizz' method='post'>
      <input type='text' name='guess' />
      <input type='submit' value='FizzBuzz!' />
    </form>
    <p>
      <%= @result %>
    </p>
  </body>
</html>
